<style type="text/css">
	.signupDiv{background: #ffffff;width: 1024px;height: auto;position: relative;padding: 50px;padding-bottom: 150px;margin: auto;z-index: 10;border-radius: 2px;box-shadow: 0px 0px 5px #000000;}
    .form{position: relative;text-align: center;}
    
    .error{color: red;font-weight: 400;font-size: 12px;}
    .right {position: relative;height: auto;width: 40%;border-top: 1px solid #ECEEF1;text-align: center;display: block;}
    .blue-btn, .gray-btn, .green-btn, .purple-btn, .red-btn, .yellow-btn {height: 50px;line-height: 50px;text-align: center;border: medium none;border-radius: 3px;font-size: 16px;color: #FFF;}
    .blue-btn {padding: 15px 35px;background-color: #36A9E5;border-radius: 2px}
    .blue-btn:hover{background-color: #60B5E1;}
    .red-btn {padding: 10px;background-color: #EB6A64;}
    .green-btn {padding: 10px;background-color: #17B385;}

    .eduDiv{margin-top: 30px;text-align: left;position: relative;}
    .placeholder{position: absolute;text-align: left;left: 20px;width: auto;top:10px;transition:all .2s linear;z-index: 2;}
    .jobTitlePlaceholder{top:10px;font-size: 20px;pointer-events:none;}
    .jobTitlePlaceholder:hover{cursor: text;}

    .LinkedInDiv{width: 400px;height: 200px;}
        .linkInBtn{color: #ffffff;font-size: 18px;padding: 25px 20px;font-weight: 500;background:#007AB5;margin-left: 50px;}
        #LinkedInLogin:hover .linkInBtn{background: #4090B6;}
    
    a {color: #36A9E5;cursor: pointer;text-decoration: none;transition: opacity 0.2s ease 0s, color 0.2s ease 0s, #F2F1F0 0.2s ease 0s, box-shadow 0.2s ease 0s;}
</style>

<script type="text/javascript" src='js/facebook_user.js'></script>
<script type="text/javascript" src='js/LinkedIn_user.js'></script>
<script type="text/javascript" src='js/AN_account.js'></script>

<div style="background-color: #54A7F7;width:100%;height:100%;opacity:0.5;z-index:10;position:fixed;"></div>
<div class='signupDiv' ng-controller='TaolouAccount'>
    <div class="content">
        <h2>登入「Taolou」帳號</h2><br><br>

    	<div class='form'>
    		<div class='eduDiv' style='margin:auto;padding:7px 5px;background:#ffffff;margin-top:30px;width:900px;margin'
            ng-style="{'border':emailAlertStyle}">
                <input type='text' class='input' style="border-bottom:1px solid #000000;width:850px;" ng-model="email" ng-focus="placeholderEmail={'color':'#54A7F7','font-size':'12px','top':'-5px','left':'5px'}" ng-blur="placeholderEmail={}" ng-change="emailCheck()" ng-enter="account()">

                <span class='placeholder jobTitlePlaceholder' ng-style="placeholderEmail" ng-show="!email" ng-click="placeholderEmail={'color':'#54A7F7','font-size':'12px','top':'-5px','left':'5px'}">請輸入帳號信箱</span>

                <span class='placeholder' style='color: #54A7F7; font-size: 12px; top: -5px; left: 5px;' ng-show="email">請輸入帳號信箱</span>

                <span class='redAlertIcon alertshow' style="margin-top:8px;" ng-show="emailAlertIcon"></span>
            </div>
    		<div class='eduDiv' style='margin:auto;padding:7px 5px;background:#ffffff;margin-top:30px;width:900px;margin'
            ng-style="{'border':PWAlertStyle}">
                <input type='password' class='input' style="border-bottom:1px solid #000000;width:850px;" ng-model="password" ng-focus="placeholderPassword={'color':'#54A7F7','font-size':'12px','top':'-5px','left':'5px'}" ng-blur="placeholderPassword={}" ng-change="passwordCheck()" ng-enter="account()">

                <span class='placeholder jobTitlePlaceholder' ng-style="placeholderPassword" ng-show="!password" ng-click="placeholderPassword={'color':'#54A7F7','font-size':'12px','top':'-5px','left':'5px'}">請輸入密碼</span>

                <span class='placeholder' style='color: #54A7F7; font-size: 12px; top: -5px; left: 5px;' ng-show="password">請輸入密碼</span>

                <span class='redAlertIcon alertshow' style="margin-top:8px;" ng-show="PWAlertIcon"></span>
            </div>

            <p class='error'>{{errorMessage}}</p><br><br>
    		<p><a href="javascript:;" ng-click="account()" class='blue-btn'>登入</a></p>
    		
    	</div>

    	<aside class="right" style="text-align:left;width:800px;margin:auto;margin-top:30px;">
            <span>還沒有帳號嗎？</span>
            <a href="index.php">趕緊配對工作，取得帳號</a><br>
            <span>其他登入方式</span><br><br>
            <div id='LinkedInLogin' style='display:none;'>
                <script type="IN/Login" data-onAuth="onLinkedInAuth"></script>
            </div>
        </aside>
    </div>
</div>
