/*
	Strata by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

/* List */

	ul.icons li .icon {
		font-size: 1.25em;
	}

/* Header */

	#header {
		background-attachment: scroll;
		background-position: 10% 50% !important;
		background-size: cover;
		left: auto;
		padding: 4em 2em;
		position: relative;
		text-align: center;
		top: auto;
		width: 100%;
	}

		#header h1 {
			font-size: 1.75em;
			margin-left: 30%
		}

			#header h1 br {
				display: inline;
			}

/* Footer */

	#footer {
		background-attachment: scroll;
		background-color: #1f1815;
		background-image: url("images/overlay.png"), url("../images/bg.jpg");
		background-position: top left,						bottom center;
		background-repeat: repeat,							no-repeat;
		background-size: auto,							cover;
		bottom: auto;
		left: auto;
		padding: 4em 4em 6em 4em;
		position: relative;
		text-align: center;
		width: 100%;
	}

		#footer .icons {
			margin: 0 0 1em 0;
		}

		#footer .copyright {
			margin: 0 0 1em 0;
			color: rgba(255,255,255,1);
		}

			#footer .copyright li {
				border-left-width: 1px;
				display: inline-block;
				line-height: 1em;
				margin-left: 0.75em;
				padding-left: 0.75em;
			}

/* Main */

	#main {
		margin: 0;
		padding: 2em 2em;
		width: 100%;
	}
	#bigscreen-hidden{
		margin-left: 30%;
	}
	/*.poptrox-popup {
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		background: #fff;
		border-radius: 0.35em;
		box-shadow: 0 0.1em 0.15em 0 rgba(0, 0, 0, 0.15);
		overflow: hidden;
		padding-bottom: 22em;
	}
	.poptrox-popup .caption {
			background: #fff;
			bottom: 0;
			cursor: default;
			font-size: 0.9em;
			height: 23em;
			left: 0;
			line-height: 1.5em;
			position: absolute;
			text-align: left;
			width: 100%;
			z-index: 20;
			overflow-y: scroll; 
			-webkit-overflow-scrolling: touch;
			padding: 0 10px;
		}*/