<link rel="stylesheet" type="text/css" href="css/user/index.css">
<link rel="stylesheet" type="text/css" href="css/user/addskill.css">
<script type="text/javascript" src="js/AN_userIndex.js"></script>

<div class='showDiv' ng-controller="Taolou_UserIndex">
	<?php if(!empty($this->laout_arr['profile'])){
			foreach ($this->laout_arr['profile'] as $key => $value) { ?>
		<?php foreach ($this->jobNature as $N => $n) { ?>
	<input type="hidden" ng-init="<?php echo "jobNatures[".$n."-1].check=true"; ?>">
		<?php } ?>
	<input type="hidden" ng-init="<?php echo "matchFres[".$value['matchFrequency']."-1].select=true"; ?>">
	<input type="hidden" ng-init="userName='<?php echo $value['name']; ?>'">
	<input type="hidden" ng-init="Email='<?php echo $value['email']; ?>'">
	<input type="hidden" ng-init="phone='<?php echo $value['phone']; ?>'">
	<?php }} ?>
	<div class='content'>
		<div class='showJOBs' ng-show="!matchData">
			<h1>新增技能</h1>
			<hr>
			<div class='matchDiv' style="min-height:570px;">
				<span>新增完，別忘了要選熟悉度喔</span>
				<?php if(!empty($this->laout_arr['skill'])){
						foreach ($this->laout_arr['skill'] as $key => $value) {  ?>
				<input type="hidden" ng-init="SKILL_NAME='<?php echo $value['name']; ?>'">
				<input type="hidden" ng-init="SKILL_DEGREE='<?php echo $value['level']; ?>'">
				<input type='hidden' ng-init="SKILL_INIT()">
				<?php }} ?>
				<div class="waitYourJob">
					<h3 class='fontWhite'>輸入技能(最少五項)</h3>
	                <div class='inputDiv'>
	                    <input type='text' class='input' placeholder="請輸入技能" ng-model='keyword' ng-change='surfList=true;' ng-enter="insertMySkill()">
	                    <a href="javascript:;" class='button' id='inputtype' ng-click='insertMySkill()'>輸入</a>

	                    <ul class='showListUl' id='inputhit' ng-show="keyword!='' && surfList">
	                        <a href="javascript:;" ng-repeat="skill in skillList | filter:keyword"><li ng-click='skillFun(skill)'>{{skill}}</li></a>
	                    </ul>
	                </div>
	                <div class='skillListDiv'>
	                	<div class='explanation'>
							<span style='left:0;top:0;'>不熟悉</span>
							<div class='hoz'></div>
							<span style='right:0;top:0;'>精熟</span>
						</div>
		                <div class='mySkillDiv'>
		                    <ul id='myskill' ng-show="myskills!=''">
		                        <li ng-repeat='myskill in myskills'>
		                        	<div class='skillItem'>
		                        		<span>{{myskill.name}}</span>
		                        		<a href="javascript:;" style='float:right;' ng-click='removeSkill(myskill)'><span class='icon redCrossIcon' style='margin-top:6px;'></span></a>
		                        	</div>
		                        	<div class='skillDegree'>
										<ul class='degree' ng-mouseover="hoverAlert={background:'#4A92B4'}" ng-mouseleave="hoverAlert={}">
											<div ng-repeat="i in [1,2,3,4,5]" class='degree_{{i}}' ng-if="myskill.degree>i" ng-click="myskill.degree=i;checkDegree();">
												<a href="javascript:;"><li>{{i}}</li></a>
											</div>
											<div ng-repeat="i in [1,2,3,4,5]" class='degree_{{i}}' ng-class="'degree_choose{{i}}'" ng-if="myskill.degree==i" ng-click="myskill.degree=i;checkDegree();">
												<a href="javascript:;"  ng-style="{color:'#ffffff'}"><li>{{i}}</li></a>
											</div>
											<div ng-repeat="i in [1,2,3,4,5]" class='degree_{{i}}' ng-if="myskill.degree<i" ng-click="myskill.degree=i;checkDegree();">
												<a href="javascript:;"><li>{{i}}</li></a>
											</div>
										</ul>
									</div>
		                        </li>
		                    </ul>
		                </div>
	                </div>
				</div>
				<a href="javascript:;" id="changeSAVE" ng-if="myskills.length>4 && !degreeNotYet" ng-click="saveSkill()" ng-style="{'background':saveOKStyle}">儲存變更</a>
				<span id="savelog" ng-show="saveFinish">儲存成功</span>
			</div>
			<!--
			-->
		</div>
	</div>

</div>