<link rel="stylesheet" type="text/css" href="css/skillNext.css">
<script type="text/javascript" src='js/AN_skillNext.js'></script>

<?php if($this->userskill){ ?>
<div class='skillNextDiv' ng-controller="TaoLou_skillNext">
	<div class='content'>
		<div class='processBarDiv'>
			<h3 id="titleHit">完成以下步驟，就能找到屬於您的工作</h3>
			<span id="processHit"><span class='icon recommend'></span>完成進度表</span>

			<div style='width:1024px;height:5px;position:relative;margin:auto;margin-top:0px;'>
				<ul class='process'>
					<li id='skillProcessBar' ng-click="gotoSkillDiv()">
						<span ng-show="skillLoading<50">技能</span>
						<span class='loading' ng-style="{width:skillLoading}"></span>
						<span ng-style="{color:'#ffffff'}" style='z-index:5;' ng-show="skillLoading>50">技能</span>
					</li>
					<li id='experienceProcessBar' ng-click="gotoExperienceDiv()">
						<span ng-show="experienceLoading<50">學經歷</span>
						<span class='loading' ng-style="{width:experienceLoading}"></span>
						<span ng-style="{color:'#ffffff'}" style='z-index:5;' ng-show="experienceLoading>50">學經歷</span>
					</li>
					<li id='jobTitleProcessBar' ng-click="gotoJobTitleDiv()">
						<span ng-show="jobTitleLoading<50">職缺名稱</span>
						<span class='loading' ng-style="{width:jobTitleLoading}"></span>
						<span ng-style="{color:'#ffffff'}" style='z-index:5;' ng-show="jobTitleLoading>50">職缺名稱</span>
					</li>
					<li id='salaryProcessBar' ng-click="gotoSalaryDiv()">
						<span ng-show="salaryLoaLoading<=60">薪水與地點</span>
						<span class='loading' ng-style="{width:salaryLoaLoading}"></span>
						<span ng-style="{color:'#ffffff'}" style='z-index:5;' ng-show="salaryLoaLoading>60">薪水與地點</span>
					</li>
				</ul>
			</div>
			<div style='width:1024px;height:5px;position:relative;margin:auto;margin-top:65px;'>
				<div class='bar' id='barProcess' ng-style="{width:hrLoading}" ng-init="loadingBar(120)"></div>
				<div class='bar' id="BGprocess"><span id="FinprocessHit">工作配對</span></div>
				<a href="javascript:$('body').animate({'scrollTop':document.body.offsetHeight},600);" style='position:absolute;right:130px;top:-60px;color:#6b7485;' ng-show="finish"><span style='font-size:15x;font-weight:700;'>趕緊送出</span><span class='icon pageDown'></span></a>
			</div>

		</div>

		<div class='processDiv' id='skill'>
			<!-- init skills -->
			<?php if(!empty($_SESSION['user']['skills'])){
					foreach ($_SESSION['user']['skills'] as $key => $value) { ?>
			<input type='hidden' ng-init="SKILL_NAME='<?php echo $value; ?>'">
			<input type='hidden' ng-init="SKILL_INIT()">
			<?php }} ?>
			<!-- end init -->
			<h2>請將您的技能選填熟悉度</h2>
			<div style='text-align:left;margin:auto;width:130px;margin-top:20px;'>1=>不熟悉<br>2=>略懂<br>3=>普通<br>4=>熟練<br>5=>可獨立開發</p></div>
			<div class='myskillDiv'>
				<div class='explanation'>
					<span style='left:0;top:0;'>不熟悉</span>
					<div class='hoz'></div>
					<span style='right:0;top:0;'>精熟</span>
				</div>
				<ul class='myskill'>
					<li ng-repeat="myskill in myskills | orderBy:'rank':false">
						<a href='javascript:;' class='skillShow' ng-style="hoverAlert">
							<span ng-if="!myskill.change"><span class='skill_rank'>{{myskill.rank}}</span>{{myskill.name}}</span>

							<span ng-if="myskill.change" ng-style="{color:'#D0A203'}"><span class='skill_rank' ng-style="{color:'#D0A203'}">{{myskill.rank}}</span>{{myskill.name}}</span>
						</a>
						<!-- <span class='icon paperclip tagcomment'></span>
						<div class='inputDiv'>
							<input type='text' class='input' ng-focus="placeholder={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholder={}"  ng-model="myskill.comment">
							<span class='placeholder' ng-style="placeholder" ng-show="!myskill.comment" ng-click="myskill.comment">為{{myskill.name}}備註</span>

							<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="myskill.comment">為{{myskill.name}}備註</span>
						</div> -->
						<div class='skillDegree'>
							<ul class='degree' ng-mouseover="hoverAlert={background:'#4A92B4'}" ng-mouseleave="hoverAlert={}">
								<div ng-repeat="i in [1,2,3,4,5]" class='degree_{{i}}' ng-if="myskill.degree>i"><a href="javascript:;" ng-click="myskill.degree=i;"><li>{{i}}</li></a></div>
								<div ng-repeat="i in [1,2,3,4,5]" class='degree_{{i}}' ng-class="'degree_choose{{i}}'" ng-if="myskill.degree==i"><a href="javascript:;" ng-click="myskill.degree=i;"  ng-style="{color:'#ffffff'}"><li>{{i}}</li></a></div>
								<div ng-repeat="i in [1,2,3,4,5]" class='degree_{{i}}' ng-if="myskill.degree<i"><a href="javascript:;" ng-click="myskill.degree=i;overSkillDIV()"><li>{{i}}</li></a></div>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<a href="javascript:;" class='button' id='contiBut' ng-if="degreeOK" ng-click="loadingBar(297);">下一步</a>
		</div>

		<div class='processDiv' id='experience' ng-show="SkillToExperience">
			<h2>學歷與經歷</h2>
			<p style='margin-top:20px;'>填寫愈多,配對將會愈準確</p>
			<a href="javascript:;" class='button' id='contiBut' style='float:right;margin-top:-50px;margin-right:68px;' ng-click="loadingBar(484);">跳過</a>
			<hr class='vertical'>
		<!-- 教育經歷 -->
			<div class="eduExperence">
				<img src="https://lh6.googleusercontent.com/iuPx08zZirE6caRvYSGVhuIJrNwjUSqZNvEoAq8OoLs=w774-h221-p-no" width="100%">
				<h3 style='position:absolute;top:10px;left:90px;color:#ffffff;text-shadow:2px 2px 2px #a2a8b3;'>新增學習經歷<br><span>(至多兩項,"最高"與"次高"學歷)</span></h3>
				<div class='editListDiv' style='border-top:2px solid #54A7F7;'>
					<div class='eduDiv'>
						<a href="javascrit:;" class='dropList eduDivItem' style='width:100px;' ng-click="placeholderEduName={'color':'#0E75A6','font-size':'9px','top':'-15px','left':'10px'};educationFun();" ng-blur="educationClose();placeholderEduName={}">
							<span ng-show="education!=''">{{education}}</span>
							<span ng-show="education==''">　　　　</span>
							<span class='placeholder' ng-style="placeholderEduName" ng-if="education==''">選擇學歷</span>
							<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -15px; left: 10px;' ng-if="education!=''">選擇學歷</span>
							<span class='icon dropListIcon'></span>
						</a>

						<ul class='showListUl' id='editEducaSelect' ng-show="educationStatus" ng-mouseenter="surfUl=true" ng-mouseleave="surfUl=false">
							<a href="javascript:;" ng-repeat='edu in educations'><li ng-click='settingEdu(edu)'>{{edu.name}}</li></a>
						</ul>
					</div>
					<div class='eduDiv'>
						<div style="position:relative;display:inline-table;">
							<a href="javascrit:;" class='dropList eduDivItem' ng-click="educationStartFun();placeholderEduStart={'color':'#0E75A6','font-size':'9px','top':'-15px','left':'10px'};" ng-blur="educationStartClose();placeholderEduStart={}">
								<span ng-show="startEdu!=''">{{startEdu}}</span>
								<span ng-show="startEdu==''">　　　　</span>
								<span class='placeholder' ng-style="placeholderEduStart" ng-if="startEdu==''">開始年份</span>
								<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -15px; left: 10px;' ng-if="startEdu!=''">開始年份</span>
								<span class='icon dropListIcon'></span>
							</a>
							<ul class='showListUl' id='educationStart' ng-show="eduStartStatus" ng-mouseenter="surfUl=true" ng-mouseleave="surfUl=false">
								<a href="javascript:;" ng-repeat='n in []| range:50' ng-click='startEduFun(n)'><li>{{n}}</li></a>
							</ul>
						</div>
						-
						<div style="position:relative;display:inline-table;">
							<a href="javascrit:;" class='dropList eduDivItem' ng-click="educationEndFun();placeholderEduEnd={'color':'#0E75A6','font-size':'9px','top':'-15px','left':'10px'}" ng-blur="educationEndClose();placeholderEduEnd={}">
								<span ng-show="endEdu!=''">{{endEdu}}</span>
								<span ng-show="endEdu==''">　　　　</span>
								<span class='placeholder' id='endText' ng-style="placeholderEduEnd" ng-if="endEdu==''">結束年份</span>
								<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -15px; left: 10px;' ng-if="endEdu!=''">結束年份</span>
								<span class='icon dropListIcon'></span>
							</a>

							<ul class='showListUl' id='educationEnd' ng-show="eduEndStatus" ng-mouseenter="surfUl=true" ng-mouseleave="surfUl=false">
								<a href="javascript:;" ng-repeat='n in []| range:50' ng-click='endEduFun(n)'><li>{{n+3}}</li></a>
							</ul>
						</div>
					</div>
					<div class='eduDiv' style='margin-top:20px;'>
						<input type='text' class='input' id="schoolName" ng-focus="placeholderSName={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderSName={}"  ng-model="schoolName">
						
						<span class='placeholder textPlaceholder' ng-style="placeholderSName" ng-show="!schoolName" ng-click="placeholderSName={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}">學校名稱</span>

						<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="schoolName">學校名稱</span>
					</div>
					<div class='eduDiv' style='margin-top:12px;margin-bottom:30px;'>
						<input type='text' class='input' id="schoolName" ng-focus="placeholderMName={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderMName={}"  ng-model="majorName">
						
						<span class='placeholder textPlaceholder' ng-style="placeholderMName" ng-show="!majorName" ng-click="placeholderMName={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}">科系所名稱</span>

						<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="majorName">科系所名稱</span>
					</div>

					<a href="javascript:;" class='button' id="addEducationBut" ng-click="newEduFun()" ng-if="myEducations.length<2">新增學歷</a>
				</div>
				<ul class='showEdu' ng-show="myEducations!=''">
					<li ng-repeat="eduexp in myEducations">
						<a href="javascript:;" class='icon redCrossIcon' ng-click='deleteEdu(eduexp)'></a>
						<p>{{eduexp.start}}-{{eduexp.end}} , {{eduexp.school}}</p>
						<p class='sub'>{{eduexp.education}} , {{eduexp.marjor}}</p>
					</li>
				</ul>
			</div>
		<!-- 工作經歷 -->
			<div class='jobExperience'>
				<img src="https://lh6.googleusercontent.com/iuPx08zZirE6caRvYSGVhuIJrNwjUSqZNvEoAq8OoLs=w774-h221-p-no" width="100%">
					<h3 style='position:absolute;top:10px;left:90px;color:#ffffff;text-shadow:2px 2px 2px #a2a8b3;'>新增項目經歷</h3>
					<div class='editListDiv' style='border-top:2px solid #54A7F7;'>
						<div class='eduDiv' style="margin-top:10px;">
							<input type='text' class='input' id="schoolName" ng-focus="placeholderItemName={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderItemName={}"  ng-model="itemName">
							
							<span class='placeholder textPlaceholder' ng-style="placeholderItemName" ng-show="!itemName" ng-click="placeholderItemName={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}">項目名稱</span>

							<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="itemName">項目名稱</span>
						</div>
						<div class='eduDiv' style="margin-top:20px;">
							<div style="position:relative;display:inline-table;">
								<a href="javascrit:;" class='dropList eduDivItem' ng-click="itemYearFun();placeholderItemYear={'color':'#0E75A6','font-size':'9px','top':'-15px','left':'10px'};" ng-blur="itemYearClose();placeholderItemYear={}">
									<span ng-show="itemYear!=''">{{itemYear}}</span>
									<span ng-show="itemYear==''">　　　　</span>
									<span class='placeholder' ng-style="placeholderItemYear" ng-if="itemYear==''">項目年份</span>
									<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -15px; left: 10px;' ng-if="itemYear!=''">項目年份</span>
									<span class='icon dropListIcon'></span>
								</a>
								<ul class='showListUl' id='educationStart' ng-show="itemYearStatus" ng-mouseenter="surfUl=true" ng-mouseleave="surfUl=false">
									<a href="javascript:;" ng-repeat='n in []| range:50' ng-click='itemYearSaveFun(n)'><li>{{n}}</li></a>
								</ul>
							</div>
							||
							<div style="position:relative;display:inline-table;">
								<a href="javascrit:;" class='dropList eduDivItem' ng-click="itemPeriodFun();placeholderItemPeriod={'color':'#0E75A6','font-size':'9px','top':'-15px','left':'10px'}" ng-blur="itemPeriodClose();placeholderItemPeriod={}">
									<span ng-show="itemPeriod!=''">{{itemPeriod}}</span>
									<span ng-show="itemPeriod==''">　　　　</span>
									<span class='placeholder' id='endText' ng-style="placeholderItemPeriod" ng-if="itemPeriod==''">為期時間</span>
									<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -15px; left: 10px;' ng-if="itemPeriod!=''">為期時間</span>
									<span class='icon dropListIcon'></span>
								</a>

								<ul class='showListUl' id='educationEnd' ng-show="itemPeriodStatus" ng-mouseenter="surfUl=true" ng-mouseleave="surfUl=false">
									<a href="javascript:;" ng-repeat='period in periods' ng-click='itemPeriodSaveFun(period)'><li>{{period.name}}</li></a>
								</ul>
							</div>
						</div>
						<div class='eduDiv' style='margin-top:20px;'>
							<input type='text' class='input' id="schoolName" ng-focus="placeholderItemCompany={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderItemCompany={}"  ng-model="itemCompany">
							
							<span class='placeholder textPlaceholder' ng-style="placeholderItemCompany" ng-show="!itemCompany" ng-click="placeholderItemCompany={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}">所處公司</span>

							<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="itemCompany">所處公司</span>
						</div>
						<div class='eduDiv' style='margin-top:12px;'>
							<input type='text' class='input' id="schoolName" ng-focus="placeholderItemRole={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderItemRole={}"  ng-model="itemRole">
							
							<span class='placeholder textPlaceholder' ng-style="placeholderItemRole" ng-show="!itemRole" ng-click="placeholderItemRole={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}">項目角色</span>

							<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="itemRole">項目角色</span>
						</div>
						<div class='eduDiv' style='margin-top:12px;margin-bottom:30px;'>
							<textarea type='text' class='input' id="schoolName" style="height:100px;" ng-focus="placeholderItemDetail={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderItemDetail={}"  ng-model="itemDetail"></textarea>
							
							<span class='placeholder textPlaceholder' ng-style="placeholderItemDetail" ng-show="!itemDetail" ng-click="placeholderItemDetail={'color':'#0E75A6','font-size':'9px','top':'-5px','left':'5px'}">項目描述</span>

							<span class='placeholder' style='color: rgb(14, 117, 166); font-size: 9px; top: -5px; left: 5px;' ng-show="itemDetail">項目描述</span>
						</div>


						<a href="javascript:;" class='button' id="addEducationBut" ng-click="newItemFun()">新增經歷</a>
					</div>
					<ul class='showEdu' ng-show="myItemExperience!=''">
						<li ng-repeat="itemExp in myItemExperience">
							<a href="javascript:;" class='icon redCrossIcon' ng-click='deleteItem(itemExp)'></a>
							<p>{{itemExp.name}} | {{itemExp.company}}</p>
							<p>{{itemExp.role}} {{itemExp.peroid}}</p>
							<p class='sub'>{{itemExp.detail}}</p>
						</li>
					</ul>
				</div>

				<a href="javascript:;" class='button' id='contiBut' style='margin-right:440px;' ng-click="loadingBar(484);" ng-show="experienceOK">下一步</a>
			</div>
			
			<!-- 職位標題 -->
			<div class='processDiv' id='jobTitle' ng-show="experienceJobTitle">
				<h2>期望職位名稱</h2>
				<p style='margin-top:20px;'>填寫您心目中想要擔任的"職位名稱"<br>ex:UI設計師,軟體工程師</p>
				<div class="jobtitleDiv">
					<ul class='jobtitleUl'>
						<li ng-repeat="jobtitle in jobtitles">
							<div class='eduDiv' style='margin:auto;padding:7px 5px;background:#ECEEF1;margin-top:10px;'>
								<input type='text' class='input' style="border-bottom:1px solid #000000;" ng-model="jobtitle.name" ng-focus="placeholderJobTitle={'color':'#54A7F7','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholderJobTitle={}" ng-change="jobtitleCheck()">

								<span class='placeholder jobTitlePlaceholder' ng-style="placeholderJobTitle" ng-show="!jobtitle.name" ng-click="placeholderJobTitle={'color':'#54A7F7','font-size':'9px','top':'-5px','left':'5px'}">職位名稱</span>

								<span class='placeholder' style='color: #54A7F7; font-size: 9px; top: -5px; left: 5px;' ng-show="jobtitle.name">職位名稱</span>
							</div>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class='button' id='contiBut' style='margin-right:440px;' ng-click="loadingBar(676);" ng-if="jobTitleOK">最後一個</a>
			</div>

			<!-- 職位地點 薪水 -->
			<div class='processDiv' id='salary_location' ng-show="jobTitleSalary">
				<h2>期望薪水與地點</h2>
				<p style='margin-top:20px;'>選擇您所期望的薪水(月薪)<br>以及願意的工作地區</p>
				<!-- 薪水 -->
				<div class="jobtitleDiv">
					<h3>薪水</h3>
					<ul class='jobtitleUl'>
						<li>
							<div class='eduDiv' style='margin:auto;padding:7px 5px;background:#ECEEF1;margin-top:10px;'>
								<input type='number' class='input' style="border-bottom:1px solid #000000;" ng-model="jobSalary" ng-focus="placeholdersalary={'color':'#54A7F7','font-size':'9px','top':'-5px','left':'5px'}" ng-blur="placeholdersalary={}" ng-change="salaryCheck()">

								<span class='placeholder jobTitlePlaceholder' ng-style="placeholdersalary" ng-show="!jobSalary" ng-click="placeholdersalary={'color':'#54A7F7','font-size':'9px','top':'-5px','left':'5px'}">最低薪資(月薪)台幣</span>

								<span class='placeholder' style='color: #54A7F7; font-size: 9px; top: -5px; left: 5px;' ng-show="jobSalary">最低薪資(月薪)台幣</span>
							</div>
						</li>
					</ul>
				</div>
				<!-- 地點 -->
				<script type="text/javascript" src='js/jquery.twzipcode.js'></script>
				<div class="jobtitleDiv">
					<h3>工作地點</h3>
					<p style='margin-top:20px;'>(3個以上為佳)</p>
					<div class='locationSelect' style='margin-top:20px;'>
						<div id="twzipcode"></div>
						<a href="javascript:;" class='button' id='addLocation' ng-click="addLocation()">新增</a>
					</div>
					<ul class='showLocaUl' ng-show="locations">
						<li ng-repeat="loc in locations">{{loc}}　<a href="javascript:;"><span class="icon redCrossIcon" ng-click="deleteLoca(loc)"></span></a></li>
					</ul>
				</div>
				<p class='hit'>小提醒：點擊進度表，可以回去看完整職缺需求<br><br>當上面<span style="color:#54A7F7;">〝藍色進度表〞</span>滿才能進行配對喔！</p>
				<a href="javascript:;" class='button' id='contiBut' style='margin-right:440px;' ng-click="saveAll()" ng-if="finish">完成並且送出</a>
			</div>
		</div>
	</div>
</div>
<?php }else{ ?>
<div class='content' style="height:70%;text-align:center;margin-top:50px;">
	<h2>尚未填寫技能</h2>
	<p style='margin-top:20px;'>請先填寫完技能，才能繼續配對喔！</p>
	<a href="index.php" class='button' id='contiBut' style='margin-left:0;'><span class='icon whitenice'></span>填寫技能</a>
</div>
<?php } ?>